@page
@model Pizza_StoreV2.Pages.Pizzas.CreatePizzaModel
@{
    ViewData["Title"] = "CreatePizza";
}

<h1>Create pizza</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Pizza.PizzaId" class="control-label">ID</label>
        <input asp-for="@Model.Pizza.PizzaId" class="form-control" />
        <span asp-validation-for="@Model.Pizza.PizzaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.Name" class="control-label">Name</label>
        <input asp-for="@Model.Pizza.Name" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.Price" class="control-label">Price</label>
        <input asp-for="@Model.Pizza.Price" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn brn-primary" />
    </div>
        
</form>