@page
@model Pizza_StoreV2.Pages.GetAllPizzasModel
@using Pizza_StoreV2.Interface
@inject IPizzaRepository repository
@{
    ViewData["Title"] = "GetAllPizzas";
}
<h1>Pizza catalog</h1>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <a asp-page="CreatePizza">Create pizza</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pizzas)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @item.PizzaId 
                    </td>
                    <td>
                        @item.Name 
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a asp-page="EditPizza" asp-route-id="@item.PizzaId">Edit</a><p></p> <a asp-page="DeletePizza" asp-route-id="@item.PizzaId">Delete</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>