@page
@model Pizza_StoreV2.Pages.Customers.GetAllCustomersModel
@{
}
<h1>Customer catalog</h1>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <a asp-page="CreateCustomer">Create customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Mobilnr.:
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @item.CustomerId
                    </td>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        <a asp-page="EditCustomer" asp-route-id="@item.CustomerId">Edit</a> <p></p>
                        <a asp-page="DeleteCustomer" asp-route-id="@item.CustomerId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>