@page
@model Pizza_StoreV2.Pages.Orders.CreateOrderModel
@{
    ViewData["Title"] = "CreateOrder";
}
<h1>Create order</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Order.OrderID" class="control-label">ID</label>
        <input asp-for="@Model.Order.OrderID" class="form-control" />
        <span asp-validation-for="@Model.Order.OrderID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Order.NumberOfPizzasInOrder" class="control-label">Number of pizzas</label>
        <input asp-for="@Model.Order.NumberOfPizzasInOrder" class="form-control" />
        <span asp-validation-for="@Model.Order.NumberOfPizzasInOrder" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Order.Pizza" class="control-label">Pizza</label><p></p>
        <select class="form-group" asp-for="@Model.Order.Pizza" asp-items="@Model.PizzaList">
            <option value="">Select pizza</option>
        </select>
        <span asp-validation-for="@Model.Order.Pizza" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Order.Customer" class="control-label">Customer</label><p></p>
        <select class="form-group" asp-for="@Model.Order.Customer" asp-items="@Model.CustomerList">
            <option value="">Select customer</option>
        </select>
        <span asp-validation-for="@Model.Order.Customer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn brn-primary" />
    </div>

</form>