@page
@model Pizza_StoreV2.Pages.Orders.GetAllOrdersModel
@{
}
<h1>Order catalog</h1>
<p>
    <a asp-page="CreateOrder">Create order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Number of pizzas
            </th>
            <th>
                Pizza
            </th>
            <th>
                Customer
            </th>
            <th>
                Total price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @item.OrderID
                    </td>
                    <td>
                        @item.NumberOfPizzasInOrder
                    </td>
                    <td>
                        @item.Pizza
                    </td>
                    <td>
                        @item.Customer
                    </td>
                    <td>
                        @item.TotalPrice
                    </td>
                    <td>
                        <a asp-page="EditOrder" asp-route-id="@item.OrderID">Edit</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>